@rendermode InteractiveServer
@inject NavigationManager NavigationManager

<button @onclick="CreateTimeEntry" class="btn btn-primary">Agregar</button>

@code {

    [Parameter]
    public int Id { get; set; }

    void CreateTimeEntry()
    {
        NavigationManager.NavigateTo("/edit-time-entry/");
    }
}
